<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177122121600-nrpivh2pv3nck6r5g8kf5e8s3pg04kt9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177122121600-nrpivh2pv3nck6r5g8kf5e8s3pg04kt9</string>
	<key>API_KEY</key>
	<string>AIzaSyCnEp4sUvcfkq2NEW3ZJKDfZLKw_kYK_0M</string>
	<key>GCM_SENDER_ID</key>
	<string>177122121600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MaitreeBain.TravelHealth</string>
	<key>PROJECT_ID</key>
	<string>travelhealth</string>
	<key>STORAGE_BUCKET</key>
	<string>travelhealth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:177122121600:ios:a77ad5b5edb2f0c9195365</string>
</dict>
</plist>
